#h {
    background-color: rgb(4, 30, 122);
    height: 180px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
}
#h-content {
    align-items: center;
    color: rgb(255, 230, 5);
    display: inline-grid;
    font-family: 'Staatliches', cursive;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    margin: 0px auto;
    margin-left: 5%;
    text-align: center;
    width: 80%;
}
#logo {
    width: 250px;
}
#h-title {
    display: none;
    font-size: 50px;
    text-align: left;
}
#nav {
    align-items: center;
    display: inline-grid;
    font-size: 25px;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#nav-button {
    background-color:rgb(4, 30, 122);
    background-image: url("/images/nav_menu.png");
    cursor: pointer;
    display: none;
    height: 60px;
    width: 60px;
}
#nav > a {
    color: rgb(255, 230, 5);
    text-decoration: none;
}
#nav > a:hover {
    color: rgb(255, 255, 255);
}

#h.scrolled {
    height: 120px;
}
.scrolled #h-content {
    grid-template-columns: auto auto auto;
    margin-left: 8%;
}
.scrolled #h-title {
    display: initial;
}
.scrolled #logo {
    width: 100px;
}

@media (max-width: 1000px) {
    #h-content {
        grid-template-columns: auto auto auto;
        margin: auto;
        margin-left: 3%;
        width: 100%;
    }
    #nav {
        margin: 0px 0px;
        padding-left: 0px 0px;
        display: inline-block;
        text-transform: uppercase;
        width: 100%;
        top: 180px;
        left: 0px;
        position: absolute;
        background-color: rgb(4, 30, 122, 0.9);
        padding: 0px;
    }
    #nav li {
        display: none;
    }
    #nav.toggled li {
        display: block;
        font-size: 60px;
        height: 100px;
        padding-top: 20px;
    }
    #nav li:hover {
        background-color: rgb(4, 30, 122);
    }
    #h-title {
        text-align: left;
        display: initial;
    }
    #logo {
        width: 190px;
    }
    .nav-option {
        display: initial;
    }
    #nav-button {
        display: initial;
    }
    .scrolled #h-content {
        grid-template-columns: auto auto auto;
    }
    .scrolled #nav {
        top: 120px;
    }
}
