/*Figma: https://www.figma.com/file/zlBKAMwDEgOm5lTICaKbCI/Esbo%C3%A7o-para-o-site?node-id=0%3A18 */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: #041E7A;
    width: auto;
    height: auto;
    position: absolute;
    top: 650px;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    color: white;
}
.coluna{
    flex: 1;
    margin: 10px 90px;
    font-family: Carrois Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21.46px;
    color: #FFF9C0;
    margin-top: 15px;      
}
hr{
    position: relative;
    top: 28px;
    width: auto;
    height: 13px;
    background-color: #FFC90B;
    ;
}
#lista{
    list-style-type: none;
    text-align: left;
    line-height: normal;
    text-indent: -10px;
}
.titulo-coluna{
    font-family: Staatliches;
    font-size: 22px;
    line-height: 27.5px;
}
a{
    font-family: Carrois Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21,46px;
    text-decoration: none;
    color: #FFF9C0
}

a:hover{
    color: #FFC90B;
}


@media screen and (max-width: 500px){
    #container {
        flex-direction: column;
    }
}
/* Tasks:
Deixar responsivo usando a feature do chrome - https://www.youtube.com/watch?v=CaNqFe9amRA / https://www.w3schools.com/css/css3_flexbox_responsive.asp
Testar com o logo da rateria em cima
Endereço clicável levando para o google maps (Check)
Colocar os ícones de cada rede social nos contatos - https://fontawesome.com/icons?d=gallery&p=2 / https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use (Check)*/