:root {
    --color-bg: #FFEBB7;
    --color-bg-light: #FFF5DA;

    --color-primary: #041E7A;
    --color-primary-light: #8BB9DB;
    --color-primary-transparent: #041E7AE0;

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-nav: #FFE605;

    --font-family-nav: 'Staatliches', cursive;
}

/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: 'Hind', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    background: var(--color-bg);
    color: var(--color-black);

    width: 100%;
}

/* Typography */

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 4.8rem;
}

h2 {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
}

p {
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 160%;
}

button, a {
    font-family: 'Staatliches', cursive;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/* Title Background */

#section-title {
    background-color: var(--color-bg-light);
    height: 10rem;
    margin-top: 0;
    position: relative;
    z-index: -1;

}

.title-line {
    height: 8px;
    background-color: var(--color-primary-light);
    opacity: 70%;
    width: 100%;
    position: absolute;
    top: 60%;
}