:root {
    --color-bg: #FFEBB7;
    --color-bg-light: #FFF5DA;

    --color-primary: #041E7A;
    --color-primary-light: #8BB9DB;
    --color-primary-transparent: #041E7AE0;

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-nav: #FFE605;

    --font-family-nav: 'Staatliches', cursive;
}