@import url("/css/theme.css");

main {
    display: flex;
    justify-content: center;
    margin-top: -6.4rem;
}

#content {
    width: 70%;
    max-width: 1100px;
    height: 500px;

    height: fit-content;
}

#content p {
    margin: 20px 0px;
}

#box-bg {
    background-image: url("/contato/rateria_olho_de_peixe.jpg");
    border-radius: 15px;
    margin: auto;
    height: 740px;
    object-fit: fill;
    padding: 0;
    width: 70%;
}


#music-box::-webkit-scrollbar {
  width: 3px;
  height: 25px;
}

#music-box::-webkit-scrollbar-button {
  width: 3px;
  height: 1.5px;
}

#music-box::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
}

#music-box::-webkit-scrollbar-track {
    background: rgba(255, 189, 22, 1);
    border-radius: 25px;
}

#music-box {
    align-content: stretch;
    background-color: rgb(23, 125, 220, 0.5);
    border: 6px solid rgba(255, 189, 22, 1);
    border-right-width: 3px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 740px;
    overflow-y: scroll;
    width: 100%;
}

.music-item {
    background-color: var(--color-black);
    border-radius: 20px;
    cursor: pointer;
    height: 200px;
    margin: 15px;
    text-align: center;
    width: 200px;
}

.music-item h1{
    font-size: 3rem;
    margin-top: 80px;
}

.even {
    color: rgba(255, 189, 22, 1);
}

.odd {
    color: rgba(23, 125, 220, 0.712);
}
