@import "../css/theme.css";

#section-title {
    height: 20rem;
    opacity: 70%;
}

main {
    display: flex;
    justify-content: center;
    margin-top: -6.4rem;
}

#content {
    width: 70%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-justify: center;
}

h1 {
    font-size: 6rem;
    margin: -50px 0px 0px 60%;
}

.container {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: -8rem;
    width: 90%;
}

.container img {
    height: 70vh;
    object-fit: cover;
    width: 100%;
    z-index: -2;
}

.contacts {
    margin-left: 2rem;
    width: 100%;
}

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 2.5rem;
}

p {
    font-size: 2.0rem;
}
