#section-title-text {
    margin-top: -6.4rem;
    margin-left: 6.4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#competitions-container {
    max-width: 1100px;
}

#competitions-content {
    display: flex;
    justify-content: space-between;
}

#competitions-content>img {
    margin-top: -2rem;
    padding-left: 4rem;
    height: 80rem;
    object-fit: cover;
    width: 35%;
}


.competition-description {
    display: flex;
    align-items: center;
    margin-top: 5rem;

}

#linha {
    height: 90rem;
    width: 0.4rem;
    background-color: violet;
    /* margin-right: -33.5rem; */
}

.competition-description img {
    height: 9.4rem;
    width: 9.4rem;
    object-fit: cover;
    margin-right: 5rem;
    margin-left: 5rem;
}

.circle {
    border-radius: 999px;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 5rem;
}

.gold {
    background-color: #EFBA00;
}

.silver {
    background-color: #b4b0b0;
}

.bronze {
    background-color: #B8593B;
}

.competition-description .text {
    max-width: 30rem;
}

#video-container {
    margin: 6.4rem 0;
    height: 350px;
    width: 100vw;

    background: linear-gradient(
        180deg, 
        var(--color-bg) 20%,
        var(--color-bg-light) 20%, 
        var(--color-bg-light) 35%, 
        var(--color-primary-light) 35%,
        var(--color-primary-light) 65%,
        var(--color-bg-light) 65%,
        var(--color-bg-light) 80%,
        var(--color-bg) 80%
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

#video-container iframe {
    height: 100%;
    width: 70%;
    max-width: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
    #video-container {
        height: 30rem;
    }

    #inters-text {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #video-container {
        height: 20rem;
    }
}