#audio-player {
    background-color: #000000;
    border-radius: 20px;
    cursor: pointer;
    height: 20rem;
    margin: 15px;
    text-align: center;
    width: 20rem;
}
#play-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 10rem 10rem;
    border-color: transparent;
    cursor: pointer;
    height: 10rem;
    width: 10rem;
    /*margin: 4.5rem 4.6rem;*/
    position: relative;
    top: 1rem;
    left: 1rem;
}
#play-icon {
    background-image: url("./play.png");
}
.playing #play-icon {
    background-image: url("./pause.png");
}

#current-time, #duration {
    color: #FFFFFF;
}
#mute-button {
    background-color: transparent;
    background-image: url("./volume.png");
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    border-color: transparent;
    height: 3rem;
    width: 3rem;
}
.muted #mute-button {
    background-image: url("./mute.png");
}