#caixa{
	margin-top: 100px;
	margin-bottom: 20px;
	border: 1px solid #B2B2B2;
	border-radius: 5px;
	position: relative;	
	}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#menu{
	/*/border: 1px solid black;/**/
	display: inline-block;
	vertical-align: top;
	float: right;
}
#menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#menu ul li{
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	background-color: #24096B;
	border: 1px solid #24096B;
	padding: 5px;
}
#menu .menu-item{
	background-color: #3661F8;	
}
#menu .menu-item:hover{
	background-color: #3689F8;	
}
#menu .menu-item a{
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
#exibicao{
	/*/border: 1px solid black;/**/
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0px 50px 0px 50px;
}
#titulo{
	color: #000000;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin: 10px 10px;
	/*/border: 1px solid black;/**/
}
#video{
	/*/sborder: 1px solid black;/**/
	margin: auto;
}
video{
		
}
