body {
    margin: 0;
}
#capa{
text-align: center;
color:white;
font-family:"Ascender Sans Narrow", Ascender, sans-serif;
}
#capa h1{
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
margin:0;
left:50%;
margin-left: -130px;
top:140px;
position:absolute;
font-size:80px;
}
#capa p{
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
top:210px;
margin:0;
left:50%;
margin-left: -480px;
position:absolute;
font-size:50px;
}
#capa img{
width:100%;
min-width:1280px;
z-index:1;
}
p.data{
font-style: italic;
color: #001590;
font-size:13px;
}
#noticias{
display:block;
width:960px;
padding-left:144px;
padding-right:144px;
}
#noticias img{
padding:15px;}

#noticias li{
display:block;
list-style:none;
height:230px;
vertical-align:middle;
}
#noticias p{
text-indent:15px;
font-weight: lighter;
font-family:"Ascender Sans Narrow", Ascender, sans-serif;
}
#noticias h1{
color:#24096B;
}
#noticias h3{
color:#24096B;
font-weight:bold;

}
#rodape{
width: 100%;
float:bottom;
height:85px;
background-color:#FDFF37;
margin:0px;
margin-top:80px;
}

